body {
    /*font-family: Arial, sans-serif;*/
    --bs-font-sans-serif: "Noto Sans KR", sans-serif;
    --bs-body-font-family: var(--bs-font-sans-serif);
    font-family: "Noto Sans KR", sans-serif;
    background-color: #fafafa;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    height: 100vh;
    margin: 0;
    position: relative;
}
#feed-header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background: #fafafa;
    z-index: 1;
    display: block;
    border: 1px solid blue;
}
#feed-list {
    margin-top: 80px;
    /*overflow: auto;*/
}
/*#feed-list {*/
/*    margin-top: 80px;*/
/*    !*position: relative;*!*/
/*    !*top: 600px;*!*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start; !* 시작 부분에서부터 배치 *!*/
/*}*/

.feed-container {
    width: 600px;
    margin: 0 auto; /* 가운데 정렬 */
}

/*.feed-container {*/
/*    width: 600px;*/
/*}*/

.feed-item {
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    margin-bottom: 10px;
    /*padding: 10px;*/
    box-shadow: 1px 1px 1px rgba(113, 113, 113, 0.1);
}
.feed-item .created-at {
    padding-left: 20px ;
}

.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.nickname {
    font-weight: bold;
}

.image-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    border-radius: 3px;
}

.post-image {
    width: 100%;
    /*height: auto;*/
}
.content-section {
    padding: 12px;
}
.content-section .show-detail:hover {
    color: #007bff;
    text-decoration-line: underline;
}

.interaction-section {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
    border-top: 1px solid #dbdbdb;
    margin-top: 10px;
}

.interaction-section span {
    display: flex;
    align-items: center;
    font-size: 14px;
}
/* 모달 css */
/* modal.css */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 10px 20px 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

label {
    display: block;
    margin: 15px 0 5px;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
/* 검색창 */
body div.top-section{
    position: fixed;
    top: 0;
    left: 33%;
    /*width: 70%;*/
    /*margin: 0 auto;*/
}
body div.top-section form {
    display: flex;
    flex-direction: row;
    height: 50px;
}
body div.top-section form input {
    /*width: 50%;*/
    margin: 5px 20px;
}

#search-type {
    width: 100px;
    height: 80%;
}
form .btn.btn-primary {
    width: 100px;
    color: #ffffff;
}
/* 피드 작성 버튼 */
body div.btn-container {
    position: fixed;
    top: 60px;
    left: 70%;
    /*width: 100%;*/
    color: #ffffff;
    font-size: 1.5rem;
    /*border: 1px solid violet;*/
    text-align: center;
    line-height: 50px;

    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-evenly;*/
}
/*body div.btn-container {*/
/*    position: fixed;*/
/*    top: 60px;*/
/*    width: 60%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-evenly;*/
/*}*/
.btn-container #createFeedBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #4CAF50;
    /*border: 1px solid red;*/
    cursor: pointer;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
}

/* 모달 속 이미지 미리보기 */
.dropbox {
    /*width: 100%;*/
    width: 448px;
    height: 98px;
    margin: 10px 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    border-radius: 5px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.1);
}
.image-frame {

    padding: 1px;

}
.image-item {
    width: 90px;
    height: 90px;

    object-fit: cover;
}
/* 모달 속 이미지 미리보기 끝 */

/* 피드 상세조회 모달 스타일 */
.detail-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.detail-modal-content {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    width: 70%;
    height: 70%; /* 모달의 높이 설정 */
    max-height: 80vh; /* 최대 높이 설정 */
    margin: 80px auto auto;
    background-color: white;
    border: 3px solid white;
    border-radius: 10px;
    overflow: hidden;
}
.detail-modal-content span {
    padding-right: 10px;
}

.feed-left-side {
    flex: 2;
}

.feed-left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feed-right-side {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-content {
    flex: 1;
    /*border-bottom: 1px solid #d7d7d7;*/
    border: 1px solid pink;
}
.detail-content p {
    border: 1px solid greenyellow;
}

.feed-comments {
    flex: 7;
    overflow-y: auto;
}

.feed-comments h3 {
    margin-top: 0;
}

.comment {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment p {
    margin: 0;
}

.feed-right-side .profile-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 5px;
}
.profile-column {
    display: flex;
    flex-direction: column;
}
.profile-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.feed-right-side .row2 {
    width: 110px;
}
.feed-right-side .row2 button {
    border-radius: 5px;
}
.feed-right-side .created-at {
    color: #aaaaaa;
    font-size: 0.8rem;
    padding-top: 1px;
}
/* 상세조회 수정삭제 버튼 */
.detail-set-btn {
    width: 52px;
    height: 35px;
    font-size: 0.8rem;
    display: block;
    padding: 3px;
    background: #dcdcdc;
}

#createFeedModal,
#editFeedModal,
#detailFeedModal {
    display: none;
}
/* 캐러셀 버튼 */

.carousel.slide > button:hover {
    background: transparent;
    /*border: 2px solid red;*/
    /*box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);*/
}
.feed-container .carousel {
    justify-content: center;
}
.feed-container .carousel-item {
    width: 600px;
    height: 400px;
    /*margin: 0 auto;*/
    /*background-color: #aaaaaa;*/
    overflow: hidden;
    position: relative;
}

.feed-container .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
}

.carousel-control-prev,
.carousel-control-next {
    position: relative;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2); /* 반투명한 검은색 */
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; /* 아이콘 뒤에 위치 */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.carousel .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(204, 204, 204, 0.9);
    /*border: 1px solid rgba(0, 0, 0, 0.4);*/
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.carousel-indicators button.active {
    background-color: rgb(255, 255, 255);
    border: none
}
/* 상세조회 캐러셀 */
/*.detail-modal .feed-left-side {*/
/*    width: 700px;*/
/*    height: 700px;*/
/*}*/
.detail-modal .carousel-item {
    width: 850px;
    height: 660px;
    background-color: #aaaaaa;
    overflow: hidden;
    position: relative;
}

.detail-modal .carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
}
/* 미리보기 이미지 삭제버튼 */
.image-frame {
    position: relative;
    /*border: 1px solid deeppink;*/
}
.delete-prev-image {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: red;
    display: none;
    position: absolute;
    color: white;
    top: -1px;
    right: -1px;
    text-align: center;
    line-height: 20px;
    font-size: 1rem;
    font-weight: 500;
}
.image-frame:hover .delete-prev-image {
    display: inline-block;
    background: red;
    cursor: pointer;
}
.fake-upload {
    border: 1px solid #4CAF50;;
    border-radius: 5px;
    color: #4CAF50;;
    font-weight: 700;
    padding: 5px 10px;
    /*background: #4CAF50;*/
}
.fake-upload:hover {
    /*border-radius: ;*/
    background: #4CAF50;;
    color: #ffffff;
}
.modal-content label {
    margin-top: 1px;
}
.close-modal {
    text-align: right;
}
.modal-content .hidden {
    display: none;
    height: 5px;
    visibility: hidden;
    margin: 0 0 20px;
    padding: 0;
}
.confirm-modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.confirm-modal .confirm {
    height: 300px;
    border: 1px solid blue;
    position: relative;
    top: 200px;
}
.modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    bottom: -130px;
}
.modal-buttons button {
    width: 200px;
    border-radius: 5px;
}
