body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.feed-container {
    width: 400px;
}

.feed-item {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px;
}

.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.nickname {
    font-weight: bold;
}

.image-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
}

.post-image {
    width: 100%;
    height: auto;
}

.interaction-section {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid #dbdbdb;
    margin-top: 10px;
}

.interaction-section span {
    display: flex;
    align-items: center;
    font-size: 14px;
}
/* 모달 css */
/* modal.css */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

label {
    display: block;
    margin: 15px 0 5px;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
body div.top-section{
    position: fixed;
    top: 0;
    width: 70%;
    margin: auto;
}
body div.top-section form {
    display: flex;
    flex-direction: row;
    height: 50px;
}
body div.top-section form input {
    /*width: 50%;*/
    margin: 5px 20px;
}

#search-type {
    width: 100px;
    height: 80%;
}
form .btn.btn-primary {
    width: 100px;
    color: #ffffff;
}

body div.btn-container {
    position: fixed;
    top: 60px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btn-container #createFeedBtn {
    width: 150px;
}
.btn-container #editFeedBtn {
    width: 150px;
}