<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.travel.project.mapper.AccBoardMapper">

    <select id="findAll" resultType="accBoard">
        SELECT * FROM tbl_board
        WHERE status = 'A'
<!--        WHERE category_id = '???'-->
        ORDER BY board_id DESC
    </select>

    <select id="findOne" resultType="accBoard">
        SELECT * FROM tbl_board
        WHERE board_id = #{boardId}
    </select>

    <insert id="save">
        INSERT INTO tbl_board
            (account, category_id, title, content, writer, location, start_date, end_date)
        VALUES
        (#{account}, #{categoryId}, #{title}, #{content}, #{writer}, #{location}, #{startDate}, #{endDate})
    </insert>

    <delete id="delete">
        UPDATE tbl_board
        SET status = 'D'
        WHERE board_id = #{boardId}
    </delete>

    <update id="modify" parameterType="com.travel.project.entity.AccBoard">
        UPDATE tbl_board
        SET
            title = #{title},
            content = #{content},
            start_date = #{startDate},
            end_date = #{endDate},
            updated_at = NOW()
        WHERE board_id = #{boardId}
    </update>

    <update id="upViewCount">
        UPDATE tbl_board
        SET view_count = view_count + 1
        WHERE board_id = #{boardId}
    </update>


</mapper>