<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.travel.project.mapper.AccBoardMapper">

    <!-- 동적 SQL 조건 분리 -->
    <sql id="search">
        <if test="type != null and type != ''">
            <choose>
                <when test="type == 'title'">
                    AND title LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="type == 'content'">
                    AND content LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="type == 'writer'">
                    AND writer LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="type == 'tc'">
                    AND (title LIKE CONCAT('%', #{keyword}, '%')
                    OR content LIKE CONCAT('%', #{keyword}, '%'))
                </when>
            </choose>
        </if>
    </sql>

    <select id="findAll" resultType="accBoard">
        SELECT
        B.board_id,
        B.account,
        B.category_id,
        B.title,
        B.content,
        B.writer,
        B.view_count,
        B.created_at,
        B.updated_at,
        B.status,
        B.location,
        B.start_date,
        B.end_date,
        COUNT(R.reply_id) AS reply_count,
        U.gender,
        U.birthday AS birthday,
        UD.mbti,
        I.image_path
        FROM tbl_board B
        LEFT OUTER JOIN tbl_reply R ON B.board_id = R.board_id
        JOIN tbl_user U ON B.account = U.account
        LEFT JOIN tbl_user_detail UD ON U.account = UD.account
        LEFT JOIN tbl_board_image I ON B.board_id = I.board_id
        WHERE B.status = 'A'
        AND B.category_id = '1'
        <include refid="search" />
        GROUP BY B.board_id
        ORDER BY B.board_id DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <select id="findOne" resultType="accBoard">
        SELECT
        B.board_id,
        B.account,
        B.category_id,
        B.title,
        B.content,
        B.writer,
        B.view_count,
        B.created_at,
        B.updated_at,
        B.status,
        B.location,
        B.start_date,
        B.end_date,
        U.gender AS gender,
        U.birthday AS birthday,
        COALESCE(UD.one_liner, '자기소개를 입력하고 마음에 맞는 동행을 구해보세요!') AS oneLiner,
        COALESCE(UD.profile_image, '/assets/img/anonymous.jpg') AS profileImage,
        UD.mbti AS mbti,
        I.image_path,
        COUNT(R.reply_id) AS reply_count
        FROM tbl_board B
        JOIN tbl_user U ON B.account = U.account
        LEFT JOIN tbl_user_detail UD ON U.account = UD.account
        LEFT JOIN tbl_board_image I ON B.board_id = I.board_id
        LEFT OUTER JOIN tbl_reply R ON B.board_id = R.board_id
        WHERE B.board_id = #{boardId}
    </select>

    <insert id="save" parameterType="AccBoard" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO tbl_board
        (account, category_id, title, content, writer, location, start_date, end_date)
        VALUES
        (#{account}, #{categoryId}, #{title}, #{content}, #{writer}, #{location}, #{startDate}, #{endDate})
    </insert>

    <delete id="delete">
        UPDATE tbl_board
        SET status = 'D'
        WHERE board_id = #{boardId}
    </delete>

    <update id="modify" parameterType="com.travel.project.entity.AccBoard">
        UPDATE tbl_board
        SET
        title = #{title},
        content = #{content},
        start_date = #{startDate},
        end_date = #{endDate},
        updated_at = NOW()
        WHERE board_id = #{boardId}
    </update>

    <update id="upViewCount">
        UPDATE tbl_board
        SET view_count = view_count + 1
        WHERE board_id = #{boardId}
    </update>

    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM tbl_board
        WHERE status = 'A'
            AND category_id = '1'
        <include refid="search" />
    </select>

    <select id="totalCount" resultType="long">
        SELECT COUNT(*)
        FROM tbl_board
    </select>

</mapper>
