<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.travel.project.mapper.ReplyMapper">

    <insert id="save">
        INSERT INTO tbl_reply
        (reply_text, reply_writer, board_id, account)
        VALUES
        (#{replyText}, #{replyWriter}, #{boardId}, #{account})
    </insert>


    <update id="modify">
        UPDATE tbl_reply
        SET reply_text = #{replyText}
        WHERE reply_id = #{replyId}
    </update>

    <delete id="delete">
        DELETE FROM tbl_reply
        WHERE reply_id = #{replyId}
    </delete>

    <select id="findAll" resultType="reply">
        SELECT R.*, M.profile_image
        FROM tbl_reply R
        LEFT OUTER JOIN tbl_user_detail M
        ON R.account = M.account
        WHERE R.board_id = #{boardId}
        ORDER BY R.reply_id
        LIMIT #{p.pageStart}, #{p.amount}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM tbl_reply
        WHERE board_id = #{boardId}
    </select>

    <select id="findBno" resultType="long">
        SELECT board_id
        FROM tbl_reply
        WHERE reply_id = #{replyId}
    </select>

<!--    <select id="findAllNestedReply" resultType="reply">-->
<!--        SELECT * FROM tbl_reply-->
<!--        WHERE parent_reply_id = #{parentReplyId}-->
<!--        ORDER BY reply_id-->
<!--    </select>-->

<!--    <select id="findParentReplyId" resultType="long">-->
<!--        SELECT parent_reply_id-->
<!--        FROM tbl_reply-->
<!--        WHERE reply_id = #{replyId}-->
<!--    </select>-->
</mapper>
