<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.travel.project.mapper.UserDetailMapper">

    <insert id="save">
        INSERT INTO tbl_user_detail
        (
        user_detail_id,
        mbti,
        one_liner,
        profile_image,
        rating,
        account
        )
        VALUES
        (#{userDetailId}, #{mbti}, #{oneLiner}, #{profileImage}, #{rating}, #{account})
    </insert>

    <select id="findUserDetailByAccount" resultType="com.travel.project.entity.UserDetail">
        SELECT * FROM tbl_user_detail
        WHERE account = #{account}
    </select>

    <update id="updateUserDetail" parameterType="com.travel.project.entity.UserDetail">
        UPDATE tbl_user_detail
        <set>
            <if test="mbti != null">mbti = #{mbti},</if>
            <if test="oneLiner != null">one_liner = #{oneLiner},</if>
            <if test="rating != null">rating = #{rating},</if>
            <if test="profileImage != null">profile_image = #{profileImage}</if>
        </set>
        WHERE account = #{account}
    </update>

    <insert id="insertUserDetail" parameterType="com.travel.project.entity.UserDetail">
        INSERT INTO tbl_user_detail (one_liner, mbti, rating, profile_image)
        VALUES (#{oneLiner}, #{mbti}, #{rating}, #{profileImage})
    </insert>

    <select id="findAll" resultType="com.travel.project.entity.UserDetail">
    SELECT
    user_detail_id,
    mbti,
    one_liner,
    profile_image,
    rating,
    account
    FROM tbl_user_detail
    </select>

</mapper>