<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.project.mapper.UserMapper">

    <insert id="save">
        INSERT INTO tbl_user
        (
        account,
        password,
        name,
        email,
        nickname,
        birthday,
        gender,
        created_at,
        updated_at,
        status,
        auth
        )
        VALUES
        (#{account}, #{password}, #{name}, #{email}, #{nickname}, #{birthday}, #{gender}, #{createdAt}, #{updatedAt}, #{status}, #{auth})
    </insert>

    <select id="findOne" resultType="com.travel.project.entity.User">
        SELECT
        account,
        password,
        name,
        email,
        nickname,
        birthday,
        gender,
        created_at as createdAt,
        updated_at as updatedAt,
        status,
        auth
        FROM tbl_user
        WHERE account = #{account}
    </select>

    <select id="existById" resultType="boolean">
        SELECT COUNT(*)
        FROM tbl_user
        <if test="type == 'account'">
            WHERE account = #{keyword}
        </if>
        <if test="type == 'email'">
            WHERE email = #{keyword}
        </if>
    </select>

</mapper>